.ag-theme-material {
  --ag-font-family:  'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --ag-list-item-height: 60px;
}

.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
  color: #0fa872 !important;
}

.ag-theme-material .ag-checkbox-input-wrapper {
  font-size: 0.875rem !important;
  font-weight: 10px !important;
}

.MuiInputBase-input {
  font-size: 0.75rem; /* Adjust the input font size */
}